#main_container{
    display: grid;
    grid-template-columns: auto auto auto;
    /* border: 1px solid black; */
   
}
.data_div{
    border-radius: 10%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width:789px){
    
    #main_container{
        display: grid;
        grid-template-columns: auto auto;
    }
}
