
.container{
    /* display: grid;
    align-items: center;
    justify-content: center; */
    /* height: 200vh; */
    position: absolute;
    left: 50%;
    /* right: 50%; */
    /* bottom: 50%; */
    top:50%
   }
   div{
   
   /* justify-self: center; */
    
    
}
