ol {
    display: flex;
    flex-wrap: wrap;
    /* flex-grow: 1; */
    /* margin-right: 5px; */
    gap:5em;
} 
.item1{
    background-color: aqua;
}

img{
   max-width:  500px;
    display: block;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;

}
.respo{
    display: flex;
    flex-direction: row;
}
@media(max-width:980px){
    .respo{
        display: flex;
        flex-direction: column;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr ;
    }
    
}
/* @media(max-width:300px) {
    img{
        max-width: 100%;
    } */
    
/* } */